env:
  global:
  # Docker Repository
  - REPO=fjudith/waarp-r66
  # Compute docker tag
  - TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  # Retreive commit ID
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: "RD+XFBmBd8KOknCfhFVcNBnLiSFPusp+uWcY40hoeNTYfjE/E9wislfBccE5C+rmTdOIWKYuX4bdtjpzpFgwqcBFIO9sdX01aHKCbyNZjGyhl4ZgChE61wLEFjpcIZ+QCoPEVA2jnU7UpIOtz1aGuYim7VlGhGoqAOyd/ew1O9sTgw19RYQolF51Sb9EBauOH66TY3AUeVZ1AQ9Pdd6V34KIa7QD+/J9XF82NxPh50CJ4vWa0cw4vIFwZSxphJvjQj++8JGTZf4UrrvSBg3JeflNqP43DqsgqWuxdVEjQt/Dm2MuRvtddSXez+SwLKnaQlW9/48YIqPG+j2SHb0zlb8qyGYDpDRI0WUwKbXw9SVJQIxK/LPEXSaMvVaJPcpIdO1nE4W0UVg1ZH7QDoZpLhewxq/KSrWeWtS/qJeWfHPgzFJXzXeBgVCig+GNHZvPShtNDHGC49ZZyjJgCna4doRaCyPRJV8lE49jHi36jF7OGzWPPKYXG+q9C8y5oq3/fKQJyRNcyOC+Yg7iss2rvnhOQSVInKMplRcNylbGTGHpGnWxrQR9kjLNlEgTqP4V7CHMZJhbRkK2PEQfnAPUPWkNK7wwzrbnLYsrhR0mBv/6+PgVjxPo3v9lUgY+OeNdenUSMlRzX9bFFzXzAhvMVDjDsGe4D51QIyz3rdnSRLI="
  - secure: "WwCy/feoLggcFhUpFrLY+b6EFAUgU5uSa/Zr0ZUaoMJmADVTyM9rNQdzN/oQXrIe9RJ0vLV52dnX5VIAvILX5l7OzffUqWLA4Dl/OwofOmbhouB7TCxlgw3JRZLPVVGYxOW2xBaUXz3vlxqQ6DXpPRM1yxi3ENf/uA+P3p8LqtoIicAtRKoNc8UYg1p3nAVotlXUAPm5a3sAkppNa2Mvt2vFbicdylCwhtjjL3Y1FtGfpARoT28js635rCNyOCBTWjYocD7Vryj6iBBoNB3mG/lTOob/wV+QbNfj1Zclw2yxTV/tZkmaaQmF/hgjGiOaQV4gGTZ0brAQ8o4fldmjvJrWHDJo4vKOtHsZEuxMaLMXGTryWtMfSCnPj7RaTPD3m3IPUOPvM3JVqn6uMfCc5y8MxBmfzO7cR20CB6qJoFA9sykb142dq+DXi2jV/dSkSmN/hhyeHfj3fpR1sxsdtQ12sZD17JmV8XgpaCLND875rgGRZ0lT9kMvaKaAncqpRyAjahyTOSIaSATL6UcutGwjrlc5T87T8zcypoVPJzij1iy2Pk2uCMqdA6mgSRqm+2/Rw+wvpB0xNYzp9ZcJiItLqNLRns8wYxhH6i7/B5UNRqZZtbpKgLkbppO56jn2OoXDA+mYxb98G1s9mTIPDscfClSFd8GBnPNIXPf7EVA="

  
sudo: required
services:
  - docker


before_install:
  - docker-compose -f ./docker-compose.yml -p waarp1 up --build -d --force-recreate
  - docker-compose -f ./docker-compose.site2.yml -p waarp2 up --build -d --force-recreate
  - docker ps -a
  - WAARP1_CONTAINERID=$(docker ps -qa -f name="waarp1_waarp-r66_1")
  - WARRP2_CONTAINERID=$(docker ps -qa -f name="waarp2_waarp-r66_1")


script:
  # Wait for Waarp-R66 to start
  - sleep 20
  - docker logs ${WAARP1_CONTAINERID} 
  - docker logs ${WAARP2_CONTAINERID} 
  # -i, --include – include protocol headers in the output (H/F)
  # -X, --request – specify request  COMMAND (GET, PUT, DELETE…)  to use
  - docker exec ${WAARP1_CONTAINERID} /bin/bash -c "curl -i http://localhost:8066"
  - docker exec ${WAARP2_CONTAINERID} /bin/bash -c "curl -i http://localhost:8066"
  - curl -ikL https://localhost:8066
  - curl -ikL https://localhost:8076


after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO