apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: waarp-site1-db
  name: waarp-site1-db
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  hostPath:
    path: /var/lib/docker/volumes/waarp-site1-db
status: {}
