<config>
  <identity>
    <hostid></hostid>
    <sslhostid></sslhostid>
    <cryptokey></cryptokey>
    <authentfile>/etc/waarp/conf.d/server1/OpenR66-authent.xml</authentfile>
  </identity>
  <server>
    <serveradmin>admin</serveradmin>
    <serverpasswd></serverpasswd>
    <usenossl>true</usenossl>
    <usessl>true</usessl>
    <httpadmin>/usr/share/waarp/r66-admin</httpadmin>
    <admkeypath>/etc/waarp/certs/adminkey.jks</admkeypath>
    <admkeystorepass>password</admkeystorepass>
    <admkeypass>password</admkeypass>
    <checkaddress>False</checkaddress>
    <checkclientaddress>False</checkclientaddress>
    <multiplemonitors>1</multiplemonitors>
    <pastlimit>86400000</pastlimit>
    <minimaldelay>5000</minimaldelay>
    <snmpconfig></snmpconfig>
  </server>
  <network>
    <serverport>6666</serverport>
    <serversslport>6667</serversslport>
    <serverhttpport>8066</serverhttpport>
    <serverhttpsport>8067</serverhttpsport>
  </network>
  <ssl>
    <keypath>/etc/waarp/certs/key.jks</keypath>
    <keystorepass>password</keystorepass>
    <keypass>password</keypass>
    <trustkeypath>/etc/waarp/certs/trustkey.jks</trustkeypath>
    <trustkeystorepass>password</trustkeystorepass>
    <trustuseclientauthenticate>True</trustuseclientauthenticate>
  </ssl>
  <directory>
    <serverhome>/var/lib/waarp/server1</serverhome>
    <in>xfer/in</in>
    <out>xfer/out</out>
    <arch>xfer/arch</arch>
    <work>xfer/work</work>
    <conf>xfer/conf</conf>
  </directory>
  <rest>
    <restaddress>127.0.0.1</restaddress>
    <restport>8088</restport>
    <restssl>true</restssl>
    <restauthenticated>true</restauthenticated>
    <resttimelimit>3000</resttimelimit>
    <restsignature>true</restsignature>
    <restsigkey>/etc/waarp/certs/restsigning.key</restsigkey>
    <restmethod>
      <restname>ALL</restname>
      <restcrud>CRUD</restcrud>
    </restmethod>
    <restmethod>
      <restname>Bandwidth</restname>
      <restcrud>CRUD</restcrud>
    </restmethod>
    <restmethod>
      <restname>Information</restname>
      <restcrud>CRUD</restcrud>
    </restmethod>
    <restmethod>
      <restname>Server</restname>
      <restcrud>CRUD</restcrud>
    </restmethod>
    <restmethod>
      <restname>Control</restname>
      <restcrud>CRUD</restcrud>
    </restmethod>
  </rest>
  <limit>
    <serverthread>8</serverthread>
    <clientthread>80</clientthread>
    <memorylimit>4000000000</memorylimit>
    <runlimit>10000</runlimit>
    <delaycommand>5000</delaycommand>
    <delayretry>10000</delayretry>
    <timeoutcon>10000</timeoutcon>
  </limit>
  <db>
    <dbdriver>h2</dbdriver>
    <dbserver>jdbc:h2:/var/lib/waarp/server1/db/waarp;MODE=ORACLE;AUTO_SERVER=TRUE</dbserver>
    <dbuser>waarp</dbuser>
    <dbpasswd>waarp</dbpasswd>
  </db>
    <business>
        <businessid>fw-client</businessid>
    </business>
</config>
